### Import packages

In [1]:
import pandas as pd ### for reading and modifying databases
import matplotlib.pyplot as plt ### for plotting graphs
import numpy as np ### for managing vectorized operations

### Reads files

In [2]:
raw = pd.read_csv('data_augmented.csv') ### Reads the data file
raw.head() ### Preview of datafile

,id,price_000,yr_2001,yr_2002,yr_2003,yr_2004,yr_2005,yr_2006,apt,floor,...,pcnt_indu,pcnt_com,pcnt_insti,pcnt_vacant,pcn_green,homicides,house,ses_bin,lnprice,price_hi
0,40003,60000.0,1.0,0.0,0.0,0.0,0.0,0.0,1,5.0,...,0.0,0.00,0.49,0.0,1.74,39.92,0,0,11.00210,0
1,40039,39000.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,0.0,9.21,1.73,0.0,0.69,46.00,1,0,10.57132,0
2,40007,140000.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,...,0.0,15.41,1.32,0.0,0.54,46.00,1,0,11.84940,1
3,40008,38000.0,0.0,1.0,0.0,0.0,0.0,0.0,1,1.0,...,0.0,8.16,5.57,0.0,1.55,45.87,0,0,10.54534,0
4,40010,110000.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0.0,...,0.0,8.11,5.53,0.0,1.58,45.88,1,0,11.60824,1

### Data cleaning

##### Check for null values

In [ ]:
### Summary of NaN columns

In [ ]:
### How many observations would be dropped?

In [ ]:
### Dropping NaN values

##### Check for outliers

<img src = 'Data/boxplots.jpg' width = 500>
source: https://towardsdatascience.com/understanding-boxplots-5e2df7bcbd51

In [ ]:
### Population Density

In [ ]:
### Price

In [ ]:
### How many observations would be dropped? -TYPING BREAK #1

var = df['price_000']

q_75 = np.quantile(var, 0.75)
q_25 = np.quantile(var, 0.25)
q_50 = np.quantile(var, 0.5) ### This is also the median

iqr_calc = q_75-q_25 ### This should give the same output as the function scipy.stats.iqr()
print(iqr_calc)

In [ ]:
### Find how many observations we would drop if we got rid of outliers?

### Personalizing Histograms

##### How many bins?

In [ ]:
### Population Density

##### Personalizing the plot

In [ ]:
x = df.pop_dens  ### Defines the variable we want to plot
n_bins = 500 ### Defines the number of bins

plt.figure(figsize=(6,4)) ### Defines graph size (x,y) in inches
plt.hist(x, n_bins) ### Defines the histogram plotting function from the matplotlib library
plt.xlabel('Population Density [$\mathregular{person/km^2}]$') ### Creates the x-axis label
plt.ylabel('Frequency') ### Creates the y-axis label
plt.tight_layout() ### Adjusts labels to the figure area
plt.savefig('pop_dens_hist.jpg') ### Saves figure to project folder
plt.show() ### Plots the graph

##### Creating dummy SES variable

In [ ]:
### Counts

In [ ]:
### Creating the dummy

In [ ]:
### Data check!

##### Create binary density variable

In [ ]:
### Compute median

In [ ]:
### Creating the dummy

In [ ]:
### Data check!

##### Recode the number of bathrooms variable

In [ ]:
### Counts

In [ ]:
### Creating the dummy

##### Standardizing the Area variable

<img src = 'standarization.jpg' width = 500>
source: https://365datascience.com/standardization/

In [ ]:
### Describe the data

In [ ]:
#### TYPYING BREAK #2! - YEAH!! :D
x = df['area_m2']

area_mean = np.mean(x)
area_SD = np.std(x) 

print('area mean:', round(area_mean, 2))
print('area SD:', round(area_SD, 2))

In [ ]:
df['area_stand'] = (df['area_m2']-area_mean)/area_SD

In [ ]:
x = df['area_stand']

area_std_mean = np.mean(x)
area_std_SD = np.std(x) 

print('area mean:', round(area_std_mean, 2))
print('area SD:', round(area_std_SD, 2))

##### Compare area histograms

In [ ]:
### Area vs standardized area

##### Compare density histograms

In [ ]:
### Population density vs Population density dummy

##### Scatterplot price vs SES (6 categories)

In [ ]:
### Price vs SES & price vs SES categories

### Appendix

##### How to plot side by side

In [ ]:
### Defines the number of figures that will make up the graph
### plt.subplots (n_rows, n_columns, figsize = (width, height))
### In this case, we are creating two figures side by side (1, 2)
### If we wanted two figures one on top of the other, we would do (2, 1)

### ax1 will define everything related to figure 1
### ax2 will define everything related to figure 2
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 4))

### Defines the varibles that will be used for each plot
### Figure 1
x1 = df.price_000
y1 = df.ses
### Figure 2
x2 = df.price_000
y2 = df.ses_dummy

### Creates title for overall figure
plt.suptitle('Comparison of categorical vs. dummy SES histograms')

### Creates first plot
ax1.scatter(x1, y1)
ax1.set_xlabel('Asking price [COL$]')
ax1.set_ylabel('Socioeconomic Status')
### Formats y-axis number to zero decimal points
ax1.get_yaxis().set_major_formatter(plt.FuncFormatter(lambda y1, loc: "{:d}".format(int(y1))))
### Formats x-axis number to include thousands separator
ax1.get_xaxis().set_major_formatter(plt.FuncFormatter(lambda x1, loc: "{:,}".format(int(x1))))
ax1.tick_params(axis='x', labelrotation=35)### Let's rotate the labels!

### Creates second plot
ax2.scatter(x2, y2, c ='red', marker = '+') ### We can change the color and marker type
ax2.set_xlabel('Asking price [COL$]')
ax2.set_ylabel('Socioeconomic Status (Dummy)')

### Formats x-axis number to include thousands separator
ax2.get_xaxis().set_major_formatter(plt.FuncFormatter(lambda x2, loc: "{:,}".format(int(x2))))
ax2.tick_params(axis='x', labelrotation=35) ### Let's rotate the labels!

plt.show()